hozier_basic_schema.rnc

start = song2
song2 = element information {information, lyrics}

information = element information {trackNumber, title}
trackNumber = element trackNumber {text}
title = element title {text}

lyrics = element lyrics {mixed {(verse1, chorus, stanza, verse2, bridge)*}}
stanza = element stanza {line+}
line = element line {text}
verse1 = element verse1 {stanza+, text}
chorus = element chorus{stanza+, text}
verse2 = element verse2 {stanza+, text}
bridge = element bridge {stanza+, text}
