hozier_basic_schema.rnc

start = song
song = element information {information, lyrics}

information = element information {trackNumber, title}
trackNumber = element trackNumber {text}
title = element title {text}

lyrics = element lyrics {mixed {(verse, chorus, stanza, verse, bridge, outro, hook, preChorus, refrain)*}}
#here I need to account for the open tags for instrumental items but I'm not sure how

verse = element verse {stanza+}
chorus = element chorus{stanza+}
bridge = element bridge {stanza+}
outro = element outro {stanza+}
hook = element hook {stanza+}
preChorus = element preChorus {stanza+}
refrain = element refrain {stanza+}

stanza = element stanza {line+}
line = element line {text}